# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
# overide prettier default config
indent_style = space
indent_size = 2
insert_final_newline = true
max_line_length = 80

[*.md]
trim_trailing_whitespace = false
# overide prettier default config
max_line_length = off
